.app-container {
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 0.5fr 1fr 6fr 2fr;
  grid-template-areas:
    "announcement"
    "navbar"
    "banner"
    "slideshow";
}
.font {
  font-family: "Made Tommy Soft Regular", sans-serif;
}
